.greeting {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    @media (max-width: 680px) {
        font-size: small;
        img {
            display: none;
        }
    }
}

.businessGif {
    display: grid;
    width: 500%;
    grid-column-start: 13;
    grid-row-start: 6;
}

.aboutme__left {
    padding: 2em;
    grid-row-start: 6;
    grid-column-start: 3;
    grid-column-end: 11;

    h1 {
        margin-bottom: 1rem;
    }

    div {
        font-size: larger;
        line-height: 1.5;
    }
    @media (max-width: 680px) {
        grid-column: 7/16
    }
    @media (max-width: 490px) {
        grid-column: 1/21
    }
}